body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: antiquewhite;
}
#container {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#display {
    height: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
}


button {
    height:60px;
    width: 60px;
    font-size: 24px;
    margin: 10px;
}